/* colors */
$white: #ffffff;
$gold: #B98B54;
$black: #000000;



/* animations */
$transition-normal: .3s linear;
$transition-fast: .1s linear;



/* fonts */
$muller-extrabold: 'muller-extrabold', Arial, Tahoma, sans-serif;
$muller-medium: 'muller-medium', Arial, Tahoma, sans-serif;
$muller-regular: 'muller-regular', Arial, Tahoma, sans-serif;
$muller-light: 'muller-light', Arial, Tahoma, sans-serif;
