body {
  font-size: 16px;
  line-height: 1.5;
  font-family: $muller-light;
  color: $black;
  background-color: $white;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;

  &.is-overflow {
    overflow: hidden;
  }
}

a,
button {
  transition: color $transition-normal, border-color $transition-normal, background-color $transition-normal;
  cursor: pointer;
}

::-webkit-input-placeholder {}
:-moz-placeholder {}
::-moz-placeholder {}
:-ms-input-placeholder {}

.contentWrapper {
  
}

.contentIn {
  position: relative;
  max-width: 970px;
  min-width: 320px;
  margin: 0 auto;
  padding: 0 30px;
}

.contentIn--big {
  max-width: 1064px;
}

.titleMain {
  font: 44px/40px $bodoni;
}

.titleMain--white {
  color: $white;
}

.subtitleMain {
  font: 35px/40px $bodoni;
  color: $gold;
}

.bgDark {
  background-color: $dark-blue;
}

.nowrap {
  white-space: nowrap;
}



@media (max-width: 960px) {

}



@media (max-width: 768px) {
  body {
    font-size: 14px;

    &.mobile-overflow {
      overflow: hidden;
    }
  }

  .titleMain {
    font-size: 30px;
    line-height: 30px;
  }

  .subtitleMain {
    font-size: 24px;
    line-height: 32px;
  }
}
