/***** products *****/





/***** scroll blocks *****/
.infoScroll {
  position: relative;
  padding-top: 100px;
  padding-left: 415px;
}

// sidebar
.infoScrollSidebar {
  width: 320px;
  position: absolute;
  top: 112px;
  left: 0;
}

.infoScrollSidebar__title {
  margin-bottom: 30px;
}

.infoScrollSidebar__text {
  margin-bottom: 25px;

  &:last-child {
    margin-bottom: 0;
  }

  a {
    white-space: nowrap;
    color: $black;
    border-bottom: 1px solid $black;

    &:hover {
      border-bottom-color: transparent;
    }
  }
}

// content
.infoScrollContent {

}

// steps
.stepsList {
  margin-bottom: 34px;
  counter-reset: work_steps;
}

.stepsListItem {
  position: relative;
  padding: 4px 0 100px 45px;
  border-left: 1px solid rgba(0,0,0, 0.1);

  &:last-child {
    border: 0;
  }

  &:before {
    display: inline-block;
    width: 40px;
    height: 40px;
    position: absolute;
    top: 0;
    left: -20px;
    counter-increment: work_steps;
    content: '0'counter(work_steps);
    font: 10px/40px $muller-regular;
    text-align: center;
    color: #ADADAD;
    background-color: $white;
  }
}

.stepsListItem__title {
  margin-bottom: 16px;
}

.stepsListItem__text {

}

// vacancies
.vacanciesList {
  padding-bottom: 123px;
}

.vacanciesListItem {
  margin-bottom: 30px;
  padding: 34px 33px 40px;
  border: 1px solid #E5E5E5;

  &:last-child {
    margin-bottom: 0;
  }
}

.vacanciesListItem__subtitle {
  margin-bottom: 14px;
  font: 12px/17px $muller-medium;
  text-transform: uppercase;
  color: #C0C0C0;
}

.vacanciesListItem__title {
  margin-bottom: 15px;
}

.vacanciesListItem__info {

}



/***** care *****/
.contentIn--care {
  padding-top: 100px;
  padding-bottom: 98px;

  .titleMain {
    text-align: center;
  }
}

// cols width icons
.careCols {
  margin: 100px 0 90px;
}

.careCol {
  padding: 10px;
  border-right: 1px solid #192936;
  text-align: center;

  &:last-child {
    border-right: 0;
  }
}

.careCol__iconWrapper {
  margin-bottom: 45px;
  height: 80px;
  line-height: 80px;

  .icon {

  }
}

.careCol__title {
  margin: 0 auto;
  text-transform: uppercase;
  font: 12px/17px $muller-medium;
  color: $white;
}

// info cols
.careInfoCols {

}

.careInfoCol {
  margin-bottom: 40px;
  color: $white;

  &:nth-child(2n + 1) {
    padding-right: 40px;
  }

  &:nth-child(2n) {
    padding-left: 40px;
  }
}



/***** map *****/
