.footer {
  padding: 110px 0 75px;
}

.contacts {
  margin: 87px 0 176px;
}

.contactsAddress {
  margin-bottom: 62px;
  font-size: 24px;
  line-height: 35px;
  color: $white;
}

.contactsAddress__mail {
  color: $white;
  border-bottom: 1px solid $gold;

  &:hover {
    border-bottom-color: transparent;
  }
}

.contactsPhones {
  font-size: 0;
}

.contactsPhones__phone {
  display: inline-block;
  font-size: 24px;
  line-height: 35px;
  color: $gold;
  vertical-align: middle;
}

.contactsPhones__dot {
  display: inline-block;
  margin: 0 25px;
  width: 5px;
  height: 5px;
  background-color: $white;
  border-radius: 50%;
  vertical-align: middle;
}

.copyright {
  color: rgba(255,255,255, 0.5);
}

.copyright__authorLink {
  color: rgba(255,255,255, 0.5);
  border-bottom: 1px solid rgba(185,139,84, 0.5);

  &:hover {
    border-bottom-color: transparent;
  }
}



@media (max-width: 768px) {
  .footer {
    padding: 37px 0 70px;
  }

  .contacts {
    margin: 47px 0 67px;
  }

  .contactsAddress {
    margin-bottom: 47px;
    font-size: 18px;
    line-height: 25px;
  }

  .contactsAddress__mail {
    display: inline-block;
    margin-top: 27px;
  }

  .contactsPhones__phone {
    font-size: 18px;
    line-height: 25px;
  }

  .contactsPhones__dot {
    display: block;
    margin: 3px 0;
    height: 1px;
    background: none;
  }

  .copyright {
    font-size: 16px;
  }
}
