.menu {
  height: 64px;
  position: fixed;
  z-index: 99;
  top: 0;
  left: 0;
  right: 0;
  padding: 0 200px;
  background-color: transparent;
  border-bottom: 1px solid rgba(255,255,255, 0.2);
  text-align: center;
  transition: background-color $transition-normal;

  &.is-scrolled {
    background-color: $dark-blue;

    .menuPhone {
      @include show();
    }

    .menuListItem--logo {
      display: none;
    }
  }
}

.menu__logo {
  position: absolute;
  top: 0;
  left: 0;
  display: inline-block;
  height: 100%;
  width: 64px;
  border-right: 1px solid rgba(255,255,255, 0.2);
  font: 22px/64px $bodoni;
  text-align: center;
  text-transform: uppercase;
  color: $white;
}

.menuPhone {
  position: absolute;
  top: 0;
  right: 0;
  width: 200px;
  line-height: 64px;
  text-align: center;
  @include hide();
}

.menuPhone__link {
  font: 12px/18px $muller-extrabold;
  color: $white;

  &:hover {
    color: $gold;
  }
}


// menu
.menuList {
  font-size: 0;
  white-space: nowrap;
}

.menuListItem {
  display: inline-block;
  margin-right: 8%;
  line-height: 64px;

  &:last-child {
    margin-right: 0;
  }
}

.menuListItem--logo {
  .menuListItem__link {
    margin-top: 3px;
    font: 18px/18px $bodoni;
    text-transform: uppercase;
  }
}

.menuListItem__link {
  display: inline-block;
  font: 12px/18px $muller-regular;
  color: $white;
  vertical-align: middle;

  &:hover,
  .is-active {
    color: $gold;
  }
}
