// popups
.popup {
  display: none;
  position: fixed;
  z-index: 999;
  top: 0;
  left: 0;
  width: 100%;
  min-width: 320px;
  height: 100%;
  padding: 65px 120px 60px;
  background-color: #4C4C4C;
  overflow: auto;
}

.popup__close {
  position: absolute;
  z-index: 99;
  top: 57px;
  right: 84px;
  cursor: pointer;
}

.popup__title {
  margin-bottom: 79px;
  padding: 0 20px;
  font: 35px/40px $bodoni;
  color: $white;
}



@media (max-width: 1024px) {
  .popup {
    padding-left: 60px;
    padding-right: 60px;
  }

  .popup__close {
    right: 40px;
  }
}



@media (max-width: 767px) {
  .popup {
    padding: 50px 0 40px;
  }

  .popup__close {
    width: 28px;
    height: 28px;
    top: 32px;
    right: 28px;
    background-size: 38px 38px;
  }

  .popup__title {
    margin-bottom: 49px;
    padding: 0 30px;
    font-size: 18px;
    line-height: 28px;
    text-align: center;
  }
}



.sliderWrapper {
  position: relative;
}

// slider top
.sliderTop {
  margin: 0 auto;

  .slick-arrow {
    background-color: transparent;
    font-size: 0;
    position: absolute;
    top: 50%;
    margin-top: -15px;
    z-index: 9;
  }

  .slick-prev {
    left: -20px;
    @include icon(slide_left, 60px, 30px);
  }

  .slick-next {
    right: -20px;
    @include icon(slide_right, 60px, 30px);
  }

  img {
    margin: 0 auto;
  }

  .slick-dots {
    margin-top: 15px;
    padding: 20px 0;
    font-size: 0;
    text-align: center;

    li {
      display: inline-block;
      margin: 0 5px 10px;

      &.slick-active {
        button {
          background-color: rgba(255,255,255, 0.75);
        }
      }
    }

    button {
      width: 12px;
      height: 12px;
      font-size: 0;
      background-color: transparent;
      border: 1px solid rgba(255,255,255, 0.75);
      border-radius: 50%;
      transition: background-color $transition-normal;
    }
  }
}

.sliderTopSlide {
  margin: 0 20px;
}

.sliderTopSlide__img {
  max-width: 100%;
  max-height: 530px;
}



@media (max-width: 767px) {
  .sliderTopSlide {
    margin: 0;
  }

  .sliderTopSlide__img {
    width: 100%;
    max-height: none;
  }
}



// sliderBottom
.sliderBottom {
  margin: -65px 80px 0;
}

.sliderBottomSlide {
  margin: 0 17px;
  position: relative;
  cursor: pointer;

  &:hover {
    .sliderBottomSlide__overlay {
      @include hide();
    }
  }

  &.slick-current {
    .sliderBottomSlide__overlay {
      border: 3px solid $white;
      background-color: transparent;
    }

    &:hover {
      .sliderBottomSlide__overlay {
        @include show();
      }
    }
  }
}

.sliderBottomSlide__overlay {
  position: absolute;
  z-index: 1;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0,0,0, 0.4);
  @include show();
}

.sliderBottomSlide__img {
  width: 100%;
}



@media (max-width: 767px) {
  .sliderBottom {
    display: none;
  }
}
